
#app-header {
    height: 70px;
    background-color: rgb(116, 86, 151);
    color: blue;

    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
}


.header-link {
    color: white;
    font-size: 20px;

    &:hover{
        color: black;
    }
}