body {
    margin: 0;
    font-family: 'Helvetica';
    background-color: rgb(207, 206, 206);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.App > main {
    padding: 0px 20px;
}